body {font-family: Georgia, serif;}

.md-typeset p { text-align: justify;
                color: white;}
                
.md-typeset h1 { font-size: 3em;
                 color: white; 
                 text-shadow: 2px 2px #000000;}

.md-typeset a  { color: yellow}
    
.md-main {background-image: url("../img/pixabay_com_es_illustrations_geométrico-diseño-computadora-1732847.jpg");
          background-size: cover;}
  
li { color: white; }

.md-typeset blockquote  { 
    color: yellow; 
    border-left: 0px;  
    font-style: italic;  
    padding-left: 50px; }
